<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title>Forms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{submitted}" th:object="${book}" method="post">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}" /></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{author}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>